:root {
    --border-radius: 1rem;
    --background-colour: rgba(101, 112, 120, 1);
    --pill-colour: rgba(221, 248, 232, 1);
    --pill-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    --gap: 2.5em;
    --text-color: black;
    --font-weight: normal;
}

* {
    text-decoration: none;
    font-weight: bold;
}

/* Main Landing Header */
.main-header {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 17fr 4fr;
    background: url("background.png") no-repeat;
    background-size: cover;
}

.main-text {
    margin: 0;
    color: black;
}

h1.main-text {
    font-size: 6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

h2.main-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
    text-align: left;
}

h3.main-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: left;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    padding: 0.5em;
    margin: 1em;
    font-size: 2.5em;
    font-weight: bold;
}

.navbar a {
    border-bottom: 4px solid white;
    color: white;
}

.navbar a:hover {
    border-bottom: 4px solid rgb(206, 186, 77);
}

.navbar-link {
    color: white;
}

/* Text Styles */
.title-text,
.subtitle-text,
.pill-text-head {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

.title-text{
    font-size: 2.5em;
}

.pill-text-head {
    font-size: 2em;
}

.pill-text-p {
    font-size: 1.75em;
}

/* Grid Styles */
.container {
    padding: 0.25rem;
    margin: 0.25rem;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}

.profile-grid,
.project-grid,
.SW-grid,
.single-grid,
.footer-grid,
.profile-button-link-grid,
.knowledge-base-grid,
.quarter-grid {
    display: grid;
    gap: var(--gap);
    margin: 2.5em;
}

.profile-grid {
    grid-template-columns: 4fr 7fr;
}

.project-grid {
    grid-template-columns: repeat(3, 1fr);
}

.SW-grid {
    grid-template-columns: 3fr 7fr 3fr;
}

.single-grid {
    grid-template-columns: 1fr;
}

.footer-grid {
    grid-template-columns: repeat(3, 1fr);
}

.profile-button-link-grid {
    grid-template-columns: 1fr 1fr;
}

.knowledge-base-grid {
    grid-template-columns: 2fr 3fr;
}

.quarter-grid {
    grid-template-columns: repeat(4, 1fr);
}

/* Pill Styles */
.pill {
    padding: 1em;
}

.horizontal-pill,
.vertical-pill,
.two-thirds-pill,
.one-third-pill,
.uneven-pill-large,
.uneven-pill-small {
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--pill-colour);
    box-shadow: var(--pill-shadow);
}

.horizontal-pill {
    margin: 2.5em;
}

.two-thirds-pill,
.one-third-pill,
.uneven-pill-large,
.uneven-pill-small {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

/* Button classes */
#backToTopButton {
    display: none;
    position: relative;
    cursor: pointer;
    margin: 2.5em;
}

#backToTopButton.show {
    display: block;
}

.back-to-top-button,
.button {
    color: var(--text-color);
    display: inline-block;
    padding: 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--pill-shadow);
}

/* Other Styles */
body {
    background-color: var(--background-colour);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    display: block;
    color: var(--text-color);
    font-weight: var(--font-weight);
}

a:visited {
    text-decoration: none;
}

a {
    color: black;
}

.about-image {
    width: 100%;
    border-radius: var(--border-radius);
}

.divider-text-container {
    padding: 1em;
}

.divider-text {
    color: var(--text-color);
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
}

.center-flex,
.center-flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-flex-col {
    flex-direction: column;
    text-align: left;
    padding: 1.25em;
}

.center-flex-col ul {
    list-style: circle;
}

.slider-container {
    position: relative;
    background-color: var(--background-colour);
    box-shadow: var(--pill-shadow);
    border-radius: var(--border-radius);
    height: 2.5em;
    overflow: hidden;
}

.slider,
.slider-one,
.slider-two,
.slider-three,
.slider-four {
    position: relative;
    height: 100%;
    width: 1%;
    background-color: transparent;
    transition: width 0.5s;
}

.slider-one.active {
    background-color: rgb(206, 186, 77);
    width: 25%;
}

.slider-two.active {
    background-color: rgb(206, 186, 77);
    width: 50%;
}

.slider-three.active {
    background-color: rgb(206, 186, 77);
    width: 75%;
}

.slider-four.active {
    background-color: rgb(206, 186, 77);
    width: 100%;
}

.slider-container.first,
.slider-container.second,
.slider-container.third {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: rgba(255, 255, 255, 1);
}

.slider-container.first {
    left: 25%;
}

.slider-container.second {
    left: 50%;
}

.slider-container.third {
    left: 75%;
}

/* Footer Styles */
footer {
    background-color: darkgray;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center-flex a {
    color: white;
}
